
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.walletButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  height: 100px;
  font-size: 20px;
  background-color: whitesmoke;
}
.walletButton:hover {
  background: rgb(223, 223, 223);
  color: black;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 625px;
  max-height: 80vh;
  margin: 0px;
  padding:25px;
  border-radius: 8px;
  background: #29344bd7;
}

.waves-container {
  margin-top: 10px;
  overflow-y: scroll;
  min-height: 250px;
  border-radius: 8px;
}

.header {
  color: #df5e48;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8px;
}

.bio {
  text-align: center;
  color: rgb(247, 244, 246);
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
  line-height: 1.4;
}

.waveButton {
  cursor: pointer;
  margin-top: 15px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: rgb(197, 55, 155);
  color: whitesmoke;
  font-size: 22px;
}
.waveButton:hover {
  background: rgb(215, 63, 176);
  color: rgb(209, 209, 209)
}


.mathButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 16px;
  width: 70%;
  background-color: #df5e48;
  color: whitesmoke;
  font-size: 18px;
}

.mathButton:hover {
  background: #c5513c;
  color: whitesmoke;
}

.disconnectwalletButton {
  cursor: pointer;
  margin-top: 8px;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  margin-bottom: 0px;
  font-size: 20px;
  background-color: whitesmoke;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
.disconnectwalletButton:hover {
  background: rgb(223, 223, 223);
  color: black;
}

.title {
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  text-align: center;
}

.count {
  color: whitesmoke;
  font-size: 50px;
  border-radius: 8px;
  width: 35%;
  text-align: center;
  position: relative;
}

.songs-container {
  margin-top: 10px;
  min-height: 150px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 12px;
}

.song-card {
  max-width: 300px;
  text-align: center;
  padding: 4px;
  background-color: #1d2535f8;
  border-radius: 8px;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #df5e48;
}

.faucetlink {
  cursor: pointer;
  margin-top: 10px;
  padding: 8px;
  background: #df5e48;
  border-radius: 8px;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: underline #df5e48;
}