body {
  background: url('./jack-b-SxhNnU46jAc-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
